<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Recommendation</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <h1>Welcome to Crop Recommendation System</h1>
            <p>This website helps you find the best crop to plant based on various parameters. Our ML model has an accuracy of 98.96%.</p>
            <button onclick="location.href='/form'">Get Started</button>
        </div> 
    </main>

    <footer>
        <p>Copyright@rasheed</p>
    </footer>
</body>
</html>
