<!-- views/result.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation Result</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Recommended Crop</h1>
    <p>The best crop for your soil and environmental conditions is: <strong><%= crop %></strong></p>
    <button onclick="location.href='/'">Go Back Home</button>
    <footer>
        <p>Copyright@rasheed</p>
    </footer>
</body>
</html>
